<section class="featured">
  <div class="container featured__container">
    <div class="featured__title"><a href="#" class="featured__title--link">Featured Products</a></div>
    <ul class="featured__list">
      <li class="featured__card featured-card">
        <a href="#" class="featured-card__image featured-card__image--01" tabindex="-1"><img src="../img/headlights05.png" alt="Featured Card"></a>
        <div class="featured__card--content">
          <h4 class="featured-card__title"><a href="#">Headlights</a></h4>
          <span class="featured-card__price">$300.00</span>
          <div class="rating__group">
            <input class="rating__star" type="radio" name="rating01" value="1" aria-label="Оценка «1»" checked>
            <input class="rating__star" type="radio" name="rating01" value="2" aria-label="Оценка «2»">
            <input class="rating__star" type="radio" name="rating01" value="3" aria-label="Оценка «3»">
            <input class="rating__star" type="radio" name="rating01" value="4" aria-label="Оценка «4»">
            <input class="rating__star" type="radio" name="rating01" value="5" aria-label="Оценка «5»">
            <div class="rating__focus"></div>
          </div>
        </div>
      </li>
      <li class="featured__card featured-card">
        <a href="#" class="featured-card__image featured-card__image--02" tabindex="-1"><img src="../img/headlights06.png" alt="Featured Card"></a>
        <div class="featured__card--content">
          <h4 class="featured-card__title"><a href="#">Headlights</a></h4>
          <span class="featured-card__price">$300.00</span>
          <div class="rating__group">
            <input class="rating__star" type="radio" name="rating02" value="1" aria-label="Оценка «1»" checked>
            <input class="rating__star" type="radio" name="rating02" value="2" aria-label="Оценка «2»">
            <input class="rating__star" type="radio" name="rating02" value="3" aria-label="Оценка «3»">
            <input class="rating__star" type="radio" name="rating02" value="4" aria-label="Оценка «4»">
            <input class="rating__star" type="radio" name="rating02" value="5" aria-label="Оценка «5»">
            <div class="rating__focus"></div>
          </div>
        </div>
      </li>
      <li class="featured__card featured-card">
        <a href="#" class="featured-card__image featured-card__image--03" tabindex="-1"><img src="../img/headlights07.png" alt="Featured Card"></a>
        <div class="featured__card--content">
          <h4 class="featured-card__title"><a href="#">Headlights</a></h4>
          <span class="featured-card__price">$300.00</span>
          <div class="rating__group">
            <input class="rating__star" type="radio" name="rating03" value="1" aria-label="Оценка «1»" checked>
            <input class="rating__star" type="radio" name="rating03" value="2" aria-label="Оценка «2»">
            <input class="rating__star" type="radio" name="rating03" value="3" aria-label="Оценка «3»">
            <input class="rating__star" type="radio" name="rating03" value="4" aria-label="Оценка «4»">
            <input class="rating__star" type="radio" name="rating03" value="5" aria-label="Оценка «5»">
            <div class="rating__focus"></div>
          </div>
        </div>
      </li>
      <li class="featured__card featured-card">
        <a href="#" class="featured-card__image featured-card__image--04" tabindex="-1"><img src="../img/headlights08.png" alt="Featured Card"></a>
        <div class="featured__card--content">
          <h4 class="featured-card__title"><a href="#">Headlights</a></h4>
          <span class="featured-card__price">$300.00</span>
          <div class="rating__group">
            <input class="rating__star" type="radio" name="rating04" value="1" aria-label="Оценка «1»" checked>
            <input class="rating__star" type="radio" name="rating04" value="2" aria-label="Оценка «2»">
            <input class="rating__star" type="radio" name="rating04" value="3" aria-label="Оценка «3»">
            <input class="rating__star" type="radio" name="rating04" value="4" aria-label="Оценка «4»">
            <input class="rating__star" type="radio" name="rating04" value="5" aria-label="Оценка «5»">
            <div class="rating__focus"></div>
          </div>
        </div>
      </li>
      <li class="featured__card featured-card">
        <a href="#" class="featured-card__image featured-card__image--05" tabindex="-1"><img src="../img/headlights09.png" alt="Featured Card"></a>
        <div class="featured__card--content">
          <h4 class="featured-card__title"><a href="#">Headlights</a></h4>
          <span class="featured-card__price">$300.00</span>
          <div class="rating__group">
            <input class="rating__star" type="radio" name="rating05" value="1" aria-label="Оценка «1»" checked>
            <input class="rating__star" type="radio" name="rating05" value="2" aria-label="Оценка «2»">
            <input class="rating__star" type="radio" name="rating05" value="3" aria-label="Оценка «3»">
            <input class="rating__star" type="radio" name="rating05" value="4" aria-label="Оценка «4»">
            <input class="rating__star" type="radio" name="rating05" value="5" aria-label="Оценка «5»">
            <div class="rating__focus"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
