<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content--top">
      <div class="footer__column">
        <h3 class="footer__title"><a href="#" class="footer__title--link">Information</a></h3>
        <p class="footer__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida-tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title"><a href="#" class="footer__title--link">Information</a></h3>
        <p class="footer__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida-tat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title"><a href="#" class="footer__title--link">Contact</a></h3>
        <ul class="footer-contact">
          <li class="footer-contact__item footer-contact__geo">
            <a href="#" class="footer-contact__link"><i class="fab fa-map-marker"></i><span class="footer-contact__content">123, Main Road, Your City, NY 1234</span></a>
          </li>
          <li class="footer-contact__item footer-contact__tel">
            <a href="tel:+123 4567 8900" class="footer-contact__link"><i class="fa fa-phone"></i><span class="footer-contact__content">+123 456 7890</span></a>
          </li>
          <li class="footer-contact__item footer-contact__hour">
            <a href="#" class="footer-contact__link"><i class="fab fa-clock"></i><span class="footer-contact__content">7 Days a week from 10:00 am to 6:00 pm</span></a>
          </li>
          <li class="footer-contact__item footer-contact__mail">
            <a href="#" class="footer-contact__link"><i class="fab fa-envelope"></i><span class="footer-contact__content">info@psdfreebies.com</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__content--bottom">
      <div class="footer__copy"><span>CarStore</span> © 2017 . All Rights Reserved.</div>
      <ul class="footer-paycards">
        <li class="footer-paycards__item">
          <a href="" class="footer-paycards__link">
            <i class="fa fa-cc-amex" aria-hidden="true"></i>
          </a>
          <a href="" class="footer-paycards__link">
            <i class="fa fa-cc-paypal" aria-hidden="true"></i>
          </a>
          <a href="" class="footer-paycards__link">
            <i class="fa fa-cc-visa" aria-hidden="true"></i>
          </a>
          <a href="" class="footer-paycards__link">
            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          </a>
          <a href="" class="footer-paycards__link">
            <i class="fa fa-cc-discover" aria-hidden="true"></i>
          </a>
          <a href="" class="footer-paycards__link">
            <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
