<section class="headlights">
  <div class="container headlights__container">
    <ul class="headlights__list">
      <li class="headlights__item headlights__item--01">
        <div class="headlights__content">
          <h3 class="headlights__title"><a href="#" class="headlights__title--link">Headlights</a></h3>
          <p class="headlights__description">Headlights Projector, LED, Factory</p>
        </div>
        <div class="headlights__image"><img src="../img/headlights01.png" alt="headlights01"></div>
      </li>
      <li class="headlights__item headlights__item--02">
        <div class="headlights__content">
          <h3 class="headlights__title"><a href="#" class="headlights__title--link">Headlights</a></h3>
          <p class="headlights__description">Headlights Projector, LED, Factory</p>
        </div>
        <div class="headlights__image"><img src="../img/headlights02.png" alt="headlights02"></div>
      </li>
      <li class="headlights__item headlights__item--03">
        <div class="headlights__content">
          <h3 class="headlights__title"><a href="#" class="headlights__title--link">Headlights</a></h3>
          <p class="headlights__description">Headlights Projector, LED, Factory</p>
        </div>
        <div class="headlights__image"><img src="../img/headlights03.png" alt="headlights03"></div>
      </li>
      <li class="headlights__item headlights__item--04">
        <div class="headlights__content">
          <h3 class="headlights__title"><a href="#" class="headlights__title--link">Headlights</a></h3>
          <p class="headlights__description">Headlights Projector, LED, Factory</p>
        </div>
        <div class="headlights__image"><img src="../img/headlights04.png" alt="headlights04"></div>
      </li>
    </ul>
  </div>
</section>
