<header class="header">
  <div class="container header__container">
    <div class="header-top">
      <ul class="header-top__nav">
        <li class="header-top__item">
          <a href="#" class="header-top__link">
            <i class="fab fa-user"></i><span class="header-top__link">My Account</span>
          </a>
        </li>
        <li class="header-top__item">
          <a href="#" class="header-top__link">
            <i class="fab fa-shopping-cart"></i><span>Cart</span>
          </a>
        </li>
        <li class="header-top__item">
          <a href="#" class="header-top__link">
            <i class="fab fa-check-circle"></i><span>Checkout</span>
          </a>
        </li>
      </ul>
      <a href="#" class="header-top__button--search btn-reset" aria-label="Button Search"><i class="fab fa-search"></i></a>
    </div>
    <div class="header-middle">
      <div class="logo header-middle__logo">
        <a href="/" class="header-middle__logo--title">Car<span>Store</span></a>
        <span class="header-middle__logo--subtitle">Best Car Seller</span>
      </div>
      <ul class="header-middle__nav">
        <li class="header-middle__item header-middle__item--first">
          <a href="tel:+1234567890" class="header-middle__link header-middle__link--first">
            <i class="fab fa-mobile"></i><span class="header-middle__link--tel">+123 456 7890</span>
          </a>
          <span class="header-middle__link--descr">Mon-Fri: 8:30am-7:30pm; Sat-Sun: 9:30am-4:30pm</span>
        </li>
        <ul class="header-middle__menu">
          <li class="header-middle__item header-middle__item--wish">
            <a href="#" class="header-middle__link">
              <i class="fab fa-star"></i><span>Wishlist</span>
            </a>
          </li>
          <li class="header-middle__item header-middle__item--compare">
            <a href="#" class="header-middle__link">
              <i class="fab fa-car"></i><span>Compare</span>
            </a>
          </li>
          <li class="header-middle__item header-middle__item--cart">
            <a href="#" class="header-middle__link">
              <i class="fab fa-shopping-cart"></i><span>My Cart</span>
            </a>
          </li>
          <button class="header-btn-close header-middle-close btn-reset" tabindex="8"><i class="fab fa-times"></i></button>
        </ul>
        <button class="header-burger header-middle-burger btn-reset"><i class="fab fa-bars"></i></button>
      </ul>
    </div>
    <div class="header-bottom">
      <ul class="header-bottom__menu">
        <ul class="header-bottom__nav">
          <li class="header-bottom__item"><a href="#" class="header-bottom__link">Home</a></li>
          <li class="header-bottom__item"><a href="#" class="header-bottom__link">Services</a></li>
          <li class="header-bottom__item"><a href="#" class="header-bottom__link">About</a></li>
          <li class="header-bottom__item"><a href="#" class="header-bottom__link">Reviews</a></li>
          <li class="header-bottom__item"><a href="#" class="header-bottom__link">Locations</a></li>
          <li class="header-bottom__item"><a href="#" class="header-bottom__link">Contacts</a></li>
        </ul>
        <button class="header-btn-close header-bottom-close btn-reset" tabindex="8"><i class="fab fa-times"></i></button>
      </ul>
      <button class="header-bottom-burger header-burger btn-reset"><i class="fab fa-bars"></i></button>
    </div>
  </div>
</header>
