<section class="order">
  <div class="container order__container">
    <div class="order__content">
      <div class="order__content--left">
        <h2 class="order__title">25% Off</h2>
        <h4 class="order__subtitle">On Order Over $999</h4>
        <span class="order__note">This Offer is valid on all our items</span>
        <button class="order__btn btn-reset">Buy now</button>
      </div>
      <div class="order__content--right">
        <h2 class="order__title">25% Off</h2>
        <h4 class="order__subtitle">On Order Over $999</h4>
        <span class="order__note">This Offer is valid on all our items</span>
        <button class="order__btn btn-reset">Buy now</button>
      </div>
    </div>
  </div>
</section>
