<section class="quicklinks">
  <div class="container quicklinks__container">
    <div class="quicklinks__content">
      <div class="quicklinks__column">
        <h3 class="quicklinks__title"><a href="#" class="quicklinks__title--link">Quick links</a></h3>
        <ul class="quicklinks__list quicklinks__list--01">
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">About Us</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Customer Service</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Privacy Policy</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Site Map</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Search Terms</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Advanced Search</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Orders and Returns</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Contact Us</span></a>
          </li>
          <button class="quicklinks-btn-close quicklinks-btn-close01 btn-reset" tabindex="8"><i class="fab fa-times"></i></button>
        </ul>
        <button class="quicklinks-burger quicklinks-burger--01 btn-reset"><i class="fab fa-bars"></i></button>
      </div>
      <div class="quicklinks__column">
        <h3 class="quicklinks__title"><a href="#" class="quicklinks__title--link">Quick links</a></h3>
        <ul class="quicklinks__list quicklinks__list--02">
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">About Us</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Customer Service</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Privacy Policy</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Site Map</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Search Terms</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Advanced Search</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Orders and Returns</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Contact Us</span></a>
          </li>
          <button class="quicklinks-btn-close quicklinks-btn-close02 btn-reset" tabindex="8"><i class="fab fa-times"></i></button>
        </ul>
        <button class="quicklinks-burger quicklinks-burger--02 btn-reset"><i class="fab fa-bars"></i></button>
      </div>
      <div class="quicklinks__column">
        <h3 class="quicklinks__title"><a href="#" class="quicklinks__title--link">Quick links</a></h3>
        <ul class="quicklinks__list quicklinks__list--03">
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">About Us</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Customer Service</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Privacy Policy</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Site Map</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Search Terms</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Advanced Search</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Orders and Returns</span></a>
          </li>
          <li class="quicklinks__item">
            <a href="#" class="quicklinks__link"><span class="quicklinks__subtitle">Contact Us</span></a>
          </li>
          <button class="quicklinks-btn-close quicklinks-btn-close03 btn-reset" tabindex="8"><i class="fab fa-times"></i></button>
        </ul>
        <button class="quicklinks-burger quicklinks-burger--03 btn-reset"><i class="fab fa-bars"></i></button>
      </div>
      <div class="quicklinks__column">
        <h3 class="quicklinks__title"><a href="#" class="quicklinks__title--link">Newsletter</a></h3>
        <p class="quicklinks__description">Lorem ipsum dolor sit amet, consectetur adi-piscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><textarea class="quicklinks__textarea" rows="2" name="text"></textarea></p>
        <button class="quicklinks__btn btn-reset">Submit</button>
        <div class="quicklinks__social social">
          <a href="#" class="social__icon social__icon--fb"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social__icon social__icon--tw"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social__icon social__icon--google"><i class="fab fa-google-plus"></i></a>
          <a href="#" class="social__icon social__icon--insta"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social__icon social__icon--pinterest"><i class="fab fa-pinterest-p"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
